<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
	</head>
	<body>
		<div class="container-fluid ">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="error-block">
						<h1><%=error.status %></h1>
						<div class="desc"><%=message%></div>
						<div></div>
						<a href="/" class="btn btn-green btn-lg"><i class="fa fa-home"></i> 跳转首页</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
